[Record]
read_weight_path: 

write_weight_folder: /mnt/derived/chenglei/recordings/testMC/train2/weight_00/
write_tmp_folder: /mnt/derived/chenglei/recordings/testMC/train2/tmp_00/
logdir: /mnt/derived/chenglei/recordings/testMC/train2/log_00/



[Params] 
lr: 0.0001

batch: 2

w_pose: 1
w_laplace: 100
w_color: 0.0
w_w_weights_l1: 0.0


augment_data: 0

start_iter: 0
end_iter: 1000001
save_weight_iter: 5000
save_tmp_iter: 1000
evaluate_iter: 1000

residual_rate: 0.9

conv_max: 0

perpoint_bias: 1

minus_smoothed: 0

template_ply_fn: /mnt/captures/chenglei/recordings/testMC/hr_000500.ply

template_obj_fn: /mnt/captures/chenglei/recordings/testMC/cloth000500.obj

mesh_train: /mnt/captures/chenglei/recordings/AutumnBodyGHS/clothtrack/final_
recon_train: /mnt/captures/chenglei/recordings/AutumnBodyGHS/meshes/plys/
calib_path: /mnt/captures/chenglei/recordings/AutumnBodyGHS/calibnodoor.txt
frame_list: /mnt/captures/chenglei/recordings/AutumnBodyGHS/riglord/face/filterfrmlistfull.txt

point_num: 139337

pcs_train: ../../data/body_150k/s--20190409--1400--002640009--pilot--symposiumfullbody3/train_with_weights.npy

pcs_evaluate: ../../data/body_150k/s--20190409--1400--002640009--pilot--symposiumfullbody3/eval_with_weights.npy

pcs_mean: 


connection_folder:  /mnt/derived/chenglei/recordings/testMC/connections/body/

connection_layer_lst_enc: ["pool1", "pool3", "pool5", "pool7", "pool9",  "pool11"]
channel_lst_enc:          [32 ,      64,      128,     256,       512,   64]
weight_num_lst_enc:       [17,      17,      17,      17,      17,      17]


connection_layer_lst_dec: ["unpool11", "unpool9","unpool7", "unpool5","unpool3","unpool1"]
channel_lst_dec:          [512,      256,     128,       64,        32,        6]
weight_num_lst_dec:       [17,       17,      17,        17,        17,       17]


initial_connection_fn: /mnt/derived/chenglei/recordings/testMC/connections/body/_pool0.npy




